<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{title}}}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body class="full-height">
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/">Welcome</a>
                <a href="/api/users/1">user_id 1</a>
            </div>
        </div>
    </div>
</header>
{{{body}}}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                Project name
            </div>
        </div>
    </div>
</footer>
</body>
</html>