<section class="center-hv">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="title">{{{ body.title }}}</h1>
                <p class="padding-top">{{{ body.message }}}</p>
            </div>
        </div>
    </div>
</section>
