/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}

[class*=col-] {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

@media (min-width: 61em) {
  .container {
    width: 50em;
  }
}
@media (min-width: 70em) {
  .container {
    width: 57em;
  }
}
@media (min-width: 78em) {
  .container {
    width: 72em;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

@media (min-width: 34em) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media (min-width: 61em) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media (min-width: 70em) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

@media (min-width: 34em) {
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 61em) {
  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 70em) {
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
}
.col-auto {
  flex: 1;
}

html {
  height: 100%;
}

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.full-height section, .full-height main {
  flex-grow: 1;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hover {
  cursor: pointer;
}

.circle {
  border-radius: 50%;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.fadeInOut {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}

.fadeInOut.in-view {
  opacity: 1;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}

.fadeIn.in-view {
  opacity: 1;
}

.visuallyhidden {
  opacity: 0;
}

.hr {
  display: block;
  width: 100%;
  padding: 0;
  border-top: 2px dashed #dee0e4;
}

.wrap {
  flex-wrap: wrap;
}

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hv-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-horizontal, .center-hz {
  display: flex;
  justify-content: center;
}

.center-vertical, .center-vt {
  display: flex;
  align-items: center;
}

.self-center-vertical, .self-center-vt {
  display: flex;
  align-self: center;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.space-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.padding {
  padding: 1rem;
}

.padding-vertical, .padding-vt {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-horizontal, .padding-hz {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-top-big {
  padding-top: 3.5rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-big {
  padding-bottom: 3.5rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-big {
  margin-top: 3.5rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-big {
  margin-bottom: 3.5rem;
}

.margin-left {
  margin-left: 0.5rem;
}

.margin-right {
  margin-right: 0.5rem;
}

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*FLOAT START*/
.float:before, .float:after {
  content: " ";
  display: table;
}

.float:after {
  clear: both;
}

.float {
  *zoom: 1;
}

.float .left {
  float: left;
}
.float .right {
  float: right;
}

.show-xs, .show-sm, .show-md, .show-lg {
  display: none;
}

@media (max-width: 20em) {
  .hidden-xs {
    display: none;
  }

  .show-xs {
    display: block;
  }
}
@media (min-width: 34em) and (max-width: 61em) {
  .hidden-sm {
    display: none;
  }

  .show-sm {
    display: block;
  }
}
@media (min-width: 61em) and (max-width: 70em) {
  .hidden-md {
    display: none;
  }

  .show-md {
    display: block;
  }
}
@media (min-width: 70em) {
  .hidden-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }
}
.message, .success, .warning, .error {
  padding: 0;
  border-radius: 0.1rem;
  margin: 0.2rem 0 -0.2rem 0;
  font-size: 1rem;
}

.error {
  color: red;
}

.warning {
  color: yellow;
}

.success {
  color: green;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:active,
a:hover {
  outline-width: 0;
  color: #252a2e;
}

a {
  text-decoration: none;
  color: #252A2E;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

header {
  background-color: #f3f3f3;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
header a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

footer {
  background-color: #f3f3f3;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

h1, h1.title, title {
  font-size: 84px;
}

/*# sourceMappingURL=app.css.map */
